@font-face {
  font-family: "Helvetica Now";
  src: local("Helvetic Now"),
    url(../public/Helvetica/HelveticaNowDisplay-Regular.otf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Helvetica Now Bold";
  src: local("Helvetica Now Bold"),
    url(../public/Helvetica/HelveticaNowDisplay-ExtraBold.otf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Now", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Helvetica Now", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica Now", sans-serif;
  font-weight: 400;
}

#navText {
  color: black;
}
